// Place all the styles related to the Home controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-img {
  margin-top: 7px;
  background-image: image_url('home-img-header.jpg');
  background-size: auto auto;
  background-position: center;
  height: 600px;

  .effect {
    height: 100%;
    width: 100%;
    background: image_url('pattern-grid.png') repeat;
    background-size: 5px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
